<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.in4mation.festibook.repository.DemoMapper">

    <select id="select" resultType="com.in4mation.festibook.dto.DemoVo">
        SELECT *
        FROM demo_table
    </select>

    <insert id="insert">
        INSERT INTO demo_table(
                               DEMO_ID
                              ,DEMO_NAME
        ) VALUES(
                    #{demo_id}
                ,#{demo_name}
                )
    </insert>
</mapper>
