

.fc-day-sun a{
  color: red;
}

.fc-day-sat a{
  color: blue;
}

.fc .fc-button-primary{
    background-color: #EC7373;
    border-color: white;
}
.fc .fc-button-primary.fc-button-active{
    background-color: #EC7373;

}

.fc-event-title-container{
    background-color: #FFB4B4;

}

.fc-daygrid-event{
    border-color: #FFC3C3;
    color: #000;
    font-size: medium;

}

.fc th {
   /* background-color: #EC7373;
    color: #fff;*/
    font-size: large;
}


/*
.fc .fc-button-group > .fc-button {
   background-color: yellow;
}
*/
