@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}


/* 백그라운드 이미지 */
.mainContainer{
    margin: 0;
    background-image: url('../../img/login/loginbackground.png'); /* 여기에 이미지 경로를 넣습니다. */
    background-size: cover;  /* 이미지를 화면 크기에 맞게 조정합니다. */
    background-position: center;  /* 이미지를 화면의 중앙에 배치합니다. */
    background-repeat: no-repeat;  /* 이미지가 반복되지 않도록 합니다. */
    background-attachment: fixed;  /* 스크롤할 때 배경 이미지가 고정되도록 합니다. */
    height: 100vh;  /* 화면 높이를 100%로 설정합니다. */
}

/*toast*/
.custom-toast-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    pointer-events: none;
    top: 30rem !important;
    right : 15rem !important;

}

a {
    text-decoration: none;
    color: grey;
}

a:visited {
    color: grey; /* 방문한 링크의 색상 */
}

.custom-toast {
    font-family: "bitbit"; /* 여기에 원하는 폰트 이름을 입력하세요. */
    background-color: #333; /* 원하는 배경색을 설정하세요. */
    color: #fff; /* 원하는 글자색을 설정하세요. */
}



.page {
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 100%;
    height : 90%;
    max-width: 600px;
    padding: 0 20px;

    left: 80%;
    transform: translate(-50%, 0);

    background-color: #ffffffd1;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}



/* alter */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* 로고 이미지 */
.logoImage img {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height : 100%;
    min-height: 200px;
    min-width: 200px;
    max-width: 400px;
    max-height: 400px;
}

/* 로고 및 이름 */
.logoName {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    font-size: 300%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    /*padding-right: 18vh;*/
}

/* 로그인 폼 컨텐츠 스타일 */
.contentWrap {
    height: 80%;
    display: flex;          /* Flexbox를 사용합니다. */
    flex-direction: column; /* 자식 요소들을 세로 방향으로 배열합니다. */
    justify-content: center; /* 자식 요소들을 세로 방향으로 가운데 정렬합니다. */
    align-items: center;    /* 자식 요소들을 가로 방향으로 가운데 정렬합니다. */
    margin-top: 1vh;   /* 뷰포트 높이의 2%로 마진 상단 설정 */
    flex: 1;
}


/* 인풋 라벨 스타일 */
.inputTitle {
    align-self: flex-start; /* 가로 방향으로 왼쪽 정렬합니다. */
    font-size: 12px;
    font-weight: 600;
    color: #262626;
}
/* 인풋 래퍼 스타일 */
.inputWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 48px;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #e2e0e0;
}

/* 인풋에 포커스 되었을 때 테두리 색상 변경 */
.inputWrap:focus-within {
    border: 1px solid #EC7373;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    outline: none;
    border: none;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
}

/* 인풋 placeholder 스타일 */
.input::placeholder {
    color: #dadada;
}

.input_login{
    padding-top: 1vh;
    padding-right: 49vh;
}

.input_password{
    padding-top: 1vh;
    padding-right: 48vh;
}

.text {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 아이템 간격을 동일하게 조절 */
    width: 500px; /* 입력창과 동일한 너비 */
    margin-top: 10px;
    margin-bottom: 10px;
    /* 입력창과의 간격 조절 */
}

.logoName1{
    position: absolute;
    top: 47%;
    left: 45%;
    transform: translate(-43%, -93%);
}

.text > div {
    cursor: pointer; /* 호버 효과를 위한 포인터 스타일 적용 */
}

.bottomButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 48px;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    font-family: "Cafe24Supermagic-Bold-v1.0";
    font-size : 3vh;
    background-color: #EC7373;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
}

/* 하단 버튼 스타일 */
.buttonContainer {
    display: flex;
    justify-content: center; /* 가로 정렬 */
}

.social_img_text {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 아이템 간격을 동일하게 조절 */
    width: 500px; /* 입력창과 동일한 너비 */
    margin-top: 10px;
    margin-bottom: 10px;
    /* 입력창과의 간격 조절 */
}

.social_img_text{
    font-family: "Cafe24Supermagic-Bold-v1.0";
}

/* 소셜 로그인 */
.social_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px; /* 입력창과 동일한 너비 */
    margin-top: 10px;
}

.social_img .googleLogin {
    margin-right: 40px; /* 이미지 사이 간격 설정 */
}


/* 사이즈가 작아질 때 */
@media screen and (max-width: 768px) {

    .page {
        background-color: #ffffff26;
        top: 0px;
        bottom: 0;
        max-width: 600px;
        padding: 0 0px;

        left: 80%;
        transform: translate(-75%, -10%); /*위치 바꿀때 유용*/
        height: 100%;
        position: fixed;
        width: 90vh;
    }

    .custom-toast-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        pointer-events: none;
        top: 30rem !important;
        right : 5rem !important;

    }

    .inputWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 48px;
        border-radius: 8px;
        padding: 16px;
        margin-top: 8px;
        background-color: white;
        border: 1px solid #e2e0e0;
    }

    .contentWrap {
        width: 100%;
        height: 90%;
        display: flex;          /* Flexbox를 사용합니다. */
        flex-direction: column; /* 자식 요소들을 세로 방향으로 배열합니다. */
        justify-content: center; /* 자식 요소들을 세로 방향으로 가운데 정렬합니다. */
        align-items: center;    /* 자식 요소들을 가로 방향으로 가운데 정렬합니다. */
        margin-top: 1vh;   /* 뷰포트 높이의 1%로 마진 상단 설정 */
        padding-top: 2vh; /* 뷰포트 높이의 2%로 패딩 상단 설정 */
    }

    .contentWrap:not(:last-child) {
        margin-bottom: 10px;
    }

    .logoImage img {
        float: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        min-height: 200px;
        min-width: 200px;
    }

    .logoName {
        padding-top: 1vh;
        color : lavenderblush;
        font-size: 5vh;
    }

    .logoName1{
        position: absolute;
        top: 45%;
        left: 45%;
        transform: translate(-43%, -93%);
    }

    .input_login, .input_password, .text{
        color : darkgrey;
    }


    .input_login{
        padding-top: 1vh;
        padding-right: 40vh;
    }

    .input_password{
        padding-top: 1vh;
        padding-right: 39vh;
    }

    .text{
        width: 400px;
    }

    .bottomButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 48px;
    }
}

