<!DOCTYPE html>
<html lang="ko" xmlns:th="<http://www.thymeleaf.org>">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>board</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/css/board/style.css}"/>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="logo" href="/"><img src="/static/nav/logo4.png" alt="상단 이미지" class="header-image">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="http://localhost:8080/recommend">추천할수박에</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:8080/festival">축제/행사 소개</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:8080/community">너와 나의 연결 고리</a></li>
                <li id="loginStatusNavItem" class="nav-item"></li>
            </ul>
        </div>
    </div>
</nav>



<div class="container">
    <h2 class="special-title">너와 나의 연결고리 페이지</h2>
    <form id="searchForm" class="form-inline my-2 my-lg-0">

        <select class="form-control" id="classification">
            <option value="">전체</option>
            <option value="공지사항">공지사항</option>
            <option value="커뮤니티">커뮤니티</option>
            <option value="Q&A">Q&A</option>
            <option value="분실물 찾기">분실물 찾기</option>
        </select>


        <select class="form-control" id="searchCondition">
            <option value="">전체</option> <!-- 전체 옵션 추가 -->
            <option value="id">작성자 아이디로 검색</option>
            <option value="title">제목으로 검색</option>
        </select>
        <input class="form-control mr-sm-2" type="text" placeholder="" id="searchKeyword">
        <button class='btn btn-outline-success my-2 my-sm-0' type='submit'>검색</button> <!-- 버튼 클래스 수정 -->
    </form>
</div>

<div class="container">
    <table class="board_list table table-striped">
        <colgroup>
            <col width="10%"/> <!-- 글번호 칼럼 너비 조정 -->
            <col width="15%"/>
            <col width="45%"/> <!-- 제목 칼럼 너비 조정 -->
            <col width="10%"/> <!-- 작성자 칼럼 너비 조정 -->
            <col width="10%"/> <!-- 작성일 칼럼 너비 조정 -->
            <col width="10%"/> <!-- 조회수 칼럼 너비 조정 -->
        </colgroup>
        <thead>
        <tr>
            <th scope="col">글번호</th>
            <th scope="col">분류</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>

        <tr th:each="board  : ${boardList}">
            <td th:text="${board.board_idx}"></td>
            <td th:text="${board.classification}"></td>
            <td><a th:href="@{/board/{id}(id=${board.board_idx})}" th:text="${board.title}"></a></td> <!-- 링크 추가 -->
            <td th:text="${board.creator_id}"></td>
            <td th:text="${#dates.format(board.created_datetime, 'YY.MM.dd')}"></td>
            <td th:text="${board.hit_cnt}"></td> <!-- 컬럼명 변경 -->
        </tr>

    </table>

    <!-- Pagination -->

    <nav aria-label="">
        <ul class="pagination justify-content-center">
            <li th:class="${pageResult.prev ? '' : 'disabled'}"
                th:if="${pageResult.start > 1}">
                <a th:href="@{/board/openBoardList.do(page=${pageResult.start-1}, size=${pageResult.size})}"
                   class='page-link' tabindex='-1'>Previous</a></li>

            <li th:each='pageNum : ${#numbers.sequence(pageResult.start, pageResult.end)}'
                th:class="${pageNum == pageResult.page ? 'active' : ''}">
                <a th:href="@{/board/openBoardList.do(page=${pageNum}, size=${pageResult.size})}"
                   class='page-link' th:text='${pageNum}'></a></li>

            <li th:class="${pageResult.next ? '' : 'disabled'}"
                th:if="${pageResult.end * pageResult.size< pageResult.total}">
                <a th:href="@{/board/openBoardList.do(page=${pageResult.end+1}, size=${pageResult.size})}"
                   class='page-link'>Next</a></li>
        </ul>
    </nav>
    <!-- Categories widget-->

    <div class="write-button-container">

        <a href="/write/board" class="btn write-board-button"
            style="display: inline-block;
            color: #E6E6FA;
            background-color: #ec7373;
            padding: 10px 20px;
            text-align: center;
            border-radius: 5px; /* 둥근 모서리 효과 */
            text-decoration: none; /* 링크 밑줄 제거 */">
            글쓰기</a>
    </div>


</div>

<!-- Optional JavaScript for Bootstrap-->
<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src='/static/js/board/boardList.js'></script>
<script src='/static/js/board/boardSearch.js'></script>
<script src='/static/js/board/selectBoardList.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>


