<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
<!--    <link rel="stylesheet" href="/static/css/change-pw.css">-->
</head>
<body>

<div class="memberController" style="text-align: center; margin-top: 50px;">
    <h1>비밀번호 변경</h1>
    <p>기존에 가입하신 이메일, 현재 비밀번호, 그리고 새로운 비밀번호를 입력해주세요!</p>
</div>

<div class="memberServiceId" style="width: 421px; margin: auto;">
    <form id="changePasswordForm">

        <label for ="email">이메일 주소 :</label><br>
        <input type="text" id ="email"name ="email" value=""><br>

        <label for ="currentPassword">현재 비밀번호 :</label><br>
        <input type ="password"id ="currentPassword"name ="currentPassword" value=""><br>

        <label for = "newPassword">새로운 비밀번호 :</label><br>
        <input type = "password" id = "newPassword" name = "newPassword" value=""><br>

        <!-- Change password button -->
        <button class='button' type='submit' style="
            width: 100%;
            height: 62px;
            background-color: #ec7373;
            color: white;
            font-size: 20px;
            font-weight:bold;
            border-radius: 5px;
            margin-top: 20px;">비밀번호 변경</button>

    </form>
</div>


<script src='/static/js/change/change-pw.js'></script>

</body>
</html>
