<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="/static/static/css/find/find-id.css">
</head>
<body>

<div class="memberController" style="text-align: center; margin-top: 50px;">
    <h1>아이디 찾기</h1>
    <p>기존에 가입하신 아이디와 이메일을 입력해주세요!</p>
</div>

<div class="memberServiceId" style="width: 421px; margin: auto;">
    <form id="findIdForm" action="/api/find-id" method="GET">

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for ="email">Email Address:</label><br>
        <input type ="text"id ="email"name ="email"><br>

        <!-- Find ID button -->
        <button class='button' type='submit' style="
            width: 100%;
            height: 62px;
            background-color: #ec7373;
            color: white;
            font-size: 20px;
            font-weight:bold;
            border-radius: 5px;
            margin-top: 20px;">Find ID</button>

    </form>
</div>


<script src='/static/js/find/find-id.js'></script>

</body>
</html>
