<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/static/css/map/plugins_bundle.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/css/map/style_bundle.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/css/map/map.css}" rel="stylesheet" type="text/css"/>
    <title>Map</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="logo" href="/"><img src="/static/nav/logo4.png" alt="상단 이미지" class="header-image">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="http://localhost:8080/recommend">추천할수박에</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:8080/festival">축제/행사 소개</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:8080/community">너와 나의 연결 고리</a></li>
                <li id="loginStatusNavItem" class="nav-item"></li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrap">
    <div class="left-side">
        <div id="map" style="width:100%; height:100%;"></div>
<!--        <div class="nav_toggleBtn">
            <button class="btn btn-icon btn-accent me-2 me-lg-6" id="kt_mega_menu_toggle">
                &lt;!&ndash;begin::Svg Icon | path: icons/duotune/general/gen059.svg&ndash;&gt;
                <span class="svg-icon svg-icon-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                <rect y="6" width="16" height="3" rx="1.5" fill="black" />
                <rect opacity="0.3" y="12" width="8" height="3" rx="1.5" fill="black" />
                <rect opacity="0.3" width="12" height="3" rx="1.5" fill="black" />
            </svg>
                </span>
                &lt;!&ndash;end::Svg Icon&ndash;&gt;
            </button>
        </div>-->
    </div>
    <div class="right-side">
        <!--축제정보 리스트-->
        <div class="festiInfo">
            <h1 style="text-align:center; font-size: 32px; color:#FF0099; letter-spacing:5px; padding:10px; cursor: pointer">FESTIVAL</h1>
                <ul id="festival" style="cursor: pointer"></ul>
        </div>

    </div>
</div>



<!--        <li>
            <div class="post-container">
                <h3 class="festival_name">name</h3>
                <p class="festival_addr">addr</p>
                <p class="festival_date">date</p>
            </div>
        </li>
    </ul>
    <div class="pagination-container">
        <div class="prev-button">이전</div>
        <div class="number-button-wrapper"><span class="number-button">1</span></div>
        <div class="next-button">이후</div>
    </div>-->
    <!--  <div>
        <ul th:each="list:${festival}" style="cursor: pointer">
            <div id="sideList">
                <div id="content" style="display: inline-block; margin-right:10px">
                    <h3 th:text="${list.festival_name}"></h3>
                    <p><strong>장소 : </strong><span th:text="${list.festival_addr}"></span></p>
                    <p><strong>개최일자 : </strong><span th:text="${list.start_date}"></span><strong> - </strong><span th:text="${list.end_date}"></span></p>
                </div>
                <div id="image" style="display: inline-block;">
                    <img th:src="${list.festival_image}" alt="이미지공간" width="85px" height="85px">
                </div>
                <hr/>
            </div>
        </ul>
    </div>

    &lt;!&ndash; 페이징 &ndash;&gt;
    <div id="pagination">
        &lt;!&ndash; 맨 처음 페이지로 이동하는 버튼 &ndash;&gt;
        <span th:if="${pageDto.startPage > 1}">
        <a th:href="@{'/festival/map?page=1'}" th:text="'처음&emsp;'"></a>
        </span>

        &lt;!&ndash; 이전 블록으로 이동하는 버튼 &ndash;&gt;
        <span th:if="${pageDto.isPrev == true}">
    	<a th:href="@{'/festival/map?page='+${pageDto.startPage - 1}}" th:text="'이전'"></a>
        </span>

        &lt;!&ndash; 시퀀스 보여주는 값을 변경. &ndash;&gt;
        <span th:each="pageNum : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}">
        <a class="div2" th:href="@{'/festival/map?page='+${pageNum}}" th:text="|&emsp;${pageNum}&emsp;|"></a>
        </span>

        &lt;!&ndash; 다음 블록으로 이동하는 버튼 &ndash;&gt;
        <span th:if="${pageDto.isNext == true}">
	    <a th:href="@{'/festival/map?page='+|${pageDto.endPage + 1}|}" th:text="'다음'"></a>
        </span>

        &lt;!&ndash; 맨 뒷 페이지로 이동하는 버튼 &ndash;&gt;
        <span th:if="${pageDto.endPage < pageDto.totalPageCount}">
	    <a th:href="@{'/festival/map?page='+${pageDto.totalPageCount}}" th:text="|&emsp;끝|"></a>
        </span>
    </div>-->
</div>

<script th:src="@{/static/js/map/plugins_bundle.js}"></script>
<script th:src="@{/static/js/map/scripts_bundle.js}"></script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=63a758b165cde7d2cf61dc5e04399158&libraries=services,clusterer"></script>
<script th:src="@{/static/js/map/map.js}"></script>
<!--nav바 적용하면서 추가한것-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/board/boardDetail.js"></script>
<script src="/static/js/board/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>