@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.myPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Adjust the width as per your design */
    margin: 0 auto; /* Center the container */
}

.profileSection, .infoSection,  .modifySection, .contentContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 5px; /* Add some spacing between sections */
}

.buttonsSection{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 5px;
}

.profileSection img, .infoSection .profile_image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 75px;
}

.infoSection {
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.inputWrap {
    margin-bottom: 20px; /* Add some spacing between input fields */
}

.input_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    font-family: 'Cafe24Supermagic-Bold-v1.0';
}

.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/*추가 */

#nickname {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    align-self: center;
    margin-bottom: 20px;

    margin-top: 20px;
}

.profile_image {
    margin-right: 20px; /* Adjust the spacing as per your design */
}


.age-group-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;

}

#modifyInfo, #modifyPassword, #withdraw {
    margin-top: 10px; /* Adjust the spacing as per your design */
}

.modifySection {
    text-align: right;
}

.buttonsSection {
    display: flex;
    justify-content: flex-end; /* Aligns buttons to the right */
    gap: 10px; /* To add spacing between buttons */
}

#modifyPassword, #withdraw {
    margin-left: 10px; /* To add spacing between buttons in .modifySection */
}

a:visited {
    color: inherit;
}


/*버튼*/
.myPage button {
    background-color: #EC7373;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 12px;
}

.myPage button:hover {
    background-color: #da6363;
    transform: scale(1.05);
}

.myPage button:active {
    background-color: #ff8c8c;
}

.contentContainer {
    background-color: #f9f9f9;
    min-height: 200px;
}

/* 사이즈가 작아질 때 */
@media screen and (max-width: 768px) {
    .infoSection {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 20px;
    }
}