.myPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Adjust the width as per your design */
    margin: 0 auto; /* Center the container */
}

.profileSection, .infoSection, .buttonsSection, .modifySection, .contentContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px; /* Add some spacing between sections */
}

.profileSection img, .infoSection .profile_image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 75px;
}

.infoSection {
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.inputWrap {
    margin-bottom: 20px; /* Add some spacing between input fields */
}

.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.buttonsSection {
    display: flex;
    justify-content: space-between;
}

/*추가 */

#nickname {
    align-self: center;
    margin-bottom: 20px; /* Adjust the spacing as per your design */
}

.profile_image {
    margin-right: 20px; /* Adjust the spacing as per your design */
}


.age-group-form {
    flex-direction: row;
    gap: 10px; /* To add spacing between radio buttons */
}

#modifyInfo, #modifyPassword, #withdraw {
    margin-top: 10px; /* Adjust the spacing as per your design */
}

.modifySection {
    text-align: right;
}

.buttonsSection {
    display: flex;
    justify-content: flex-end; /* Aligns buttons to the right */
    gap: 10px; /* To add spacing between buttons */
}

#modifyPassword, #withdraw {
    margin-left: 10px; /* To add spacing between buttons in .modifySection */
}



.myPage button {
    background-color: #EC7373;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 12px;
}

.myPage button:hover {
    background-color: #da6363;
    transform: scale(1.05);
}

.myPage button:active {
    background-color: #ff8c8c;
}

.contentContainer {
    background-color: #f9f9f9;
    min-height: 200px;
}