/*body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container {
    width:1280px;
    height:818px;
    position:relative;
    overflow:hidden;
    background-color:white;
}

.header {
    width:36px;
    height:8px;
}

.title {
    width:36px;
    height:8px;
    position:absolute;
    left:585px;
    top :241px;

}*/

@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

label, input, button.button {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.memberController {
    text-align: center;
    margin-top: 50px;
}

.memberServiceId {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 10px auto;
    background-color: white;
    width: 40%;
}

form {
    margin-top: 20px;
}

label, input {
    margin-bottom: 10px;
    display: block;
}

.button {
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.button:hover {
    background-color: #EC7373;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    width: calc(100% - 22px);
}

input:focus {
    outline: none;
    border-color: #d64b4b;
}

@media only screen and (max-width: 758px) {
    .memberServiceId {
        width: 90%;
    }

    input {
        width: calc(100% - 22px);
    }

    button.button {
        width: 100%;
        height: 50px;
        font-size: 18px;
    }
}

