.bgWrapper {
    position: relative;
}

.mainText {
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 5rem;
    color: whitesmoke;
    position: absolute;
    z-index: 1;
    text-shadow: 2px 2px 2px black;
    top: 10%;
}

.recommancBackground{
    z-index: 0;
    height:50%;
}
