* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: "SDSamliphopangche_Outline";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

.nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav .home-link,
.nav .recommend-link,
.nav .festival-link,
.nav .community-link
{
    font-family: "KyoboHandwriting2021sjy";
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin: 0 10px;
}


.nav .home-logo {
    height: 50px;
}

a {
    text-decoration: none;
}


.nav .login-btn {
    font-family: "Cafe24Supermagic-Bold-v1.0";
    font-size: 15px;
    padding: 6px 17px;
    margin: 0 10px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    background-color: palevioletred;
    color: white;  /* 이 규칙이 로그인 버튼의 텍스트 색상을 지정합니다. */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.recommend-link.active {
    color: slateblue; /* 원하는 색상으로 변경 */
}

.mypage {
    width: 100px;      /* 이미지의 가로 크기를 지정. 필요한 크기로 조절하세요. */
    height: 100px;     /* 이미지의 세로 크기를 지정. 필요한 크기로 조절하세요. */
    border-radius: 50%; /* 이 속성이 이미지를 동그랗게 만들어줍니다. */
    object-fit: cover; /* 이미지 비율을 유지하면서, 지정된 너비와 높이에 맞게 조정합니다. */
}


/* 네비게이션 바의 높이만큼 컨텐츠를 아래로 이동 */
body > *:not(.nav) {
    margin-top: 70px;
}

.mypage_setting{
    position: relative;
}

/*탭 형식*/
.bottom-tab {
    left: -40px;
    position: absolute;
    bottom: -70px;
    background-color: #bddeec;
    width: 130px;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 1000;
}

.mypage-btn {
    text-decoration: none;
    color: black!important;
}


.nav .mypage-btn
.nav .logout_text
{
    font-family:'Cafe24Supermagic-Bold-v1.0"';
    font-size: 20px;
}

.bottom-tab{
    font-family: "Cafe24Supermagic-Bold-v1.0";
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/*mypage 이미지 크기 조정*/
.mypage{
    height: 40px;
    width: 40px;
}

.logout_text {
    cursor: pointer!important; /* .logout_text에 직접 스타일 적용 */
}

.mypage_setting {
    cursor: pointer!important;
    z-index: 1000;
}



@media screen and (max-width: 768px) {
    .nav {
        left: initial;
        top: initial;
        bottom:0px;
        width: 100%;
        height: 12%;
        /*justify-content: space-between;*/
        justify-content: flex-start!important;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        background-color: white;
    }


    .mypage_setting {
        cursor: pointer!important;
        z-index: 1000;
    }


    .nav a,
    .mypage_text,
    .logout_text
    {
        font-family: "bitbit";
        text-decoration: none;
        color:black;
        text-transform: uppercase;
        font-size: 7px;
        text-align: center;
        margin-top: 20px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .nav .login-btn {
        font-family: "KyoboHandwriting2021sjy";
        font-size: 19px;
        padding: 8px 5px;
        margin: 0 10px;
        text-decoration: none;
        text-transform: uppercase;
        background-color: palevioletred;
        color: white;  /* 이 규칙이 로그인 버튼의 텍스트 색상을 지정합니다. */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width : 80px !important;
    }



    .nav .home-link_mobile{
        align-items: center;

    }

    body > *:not(.nav) {
        margin-top: 0px;
        padding-bottom: 100px;
    }

    .nav a:not(:last-child) {
        margin-bottom: 20px;
    }


    .mypage{
        height: 55px;
        width: 55px;
    }

    .mypage_text {
        margin-top: 10px; /* 위쪽 여백을 추가하여 <img> 태그와의 거리를 늘림 */
    }


    .bottom-tab{
        left: -25px;
        bottom: 90px;
        width: 80px;
        font-family: "Cafe24Supermagic-Bold-v1.0";
        text-decoration: none;
        color: black;
        background: #b8d8e6;
        font-size: 10px;
        flex-direction: column;
        padding: 10px;
    }

}
